# outputs
output_dir: ./results
# name: seq_only_9.12_cuda2
name: seq_plus_structure_10.28_nopair

# name: seq_plus_structure_6.27

# training settings
alphabet: &alphabet ./config/alphabet.yml
previous_checkpoint: 
num_epochs: 10
seed: 1234
device: &device cuda:2

model:
  feature_config:
    aa_size: 23
    out_dim: &dim 128
    va_size: 62
    ja_size: 65
    vb_size: 70
    jb_size: 16
    hla_size: 43
    va_dim: 32
    ja_dim: 32
    vb_dim: 32
    jb_dim: 32
    hla_dim: 32
    use_single_embed: True
    use_pair_embed: True
    mask_prob: 0.15
  model_config:
    num_blocks: 4
    dim: *dim
    num_heads: 4
    dropout: 0.2
  hla_config:
    aa_embedding_dim: 10
    activation: gelu
    c_out: 64
    cat_embedding_dim: 8
    cat_encoding: embedding
    d_ff: 2048
    d_layers: 1
    d_model: 128
    dataset: kaggles
    dec_in: 14
    dropout: 0.1
    e_layers: 2
    embed: fixed
    enc_a: 34
    enc_b: 28
    enc_in: 62
    encoding_dim: 100
    factor: 1
    freq: h
    gpu: 0
    iter: 0
    lr: 0.001
    lstm_dim: 500
    max_epochs: 20
    model: hla_moe
    moving_avg: 25
    n_heads: 8
    tcr_encoding_model: transformer
    use_alpha: true
    use_mhc: true
    use_t_type: false
    use_vj: true
    wd: 1.0e-05

  mlm_config:
    # weight: 0.2
    # mask_prob: 0.15
      
  # dim: *dim
  # use_seqfeat: True
  # n_tgt_attn: 2

dataset:
  data_dir: ./dataset
  va_vocab: ./config/va_config.yml
  vb_vocab: ./config/vb_config.yml
  ja_vocab: ./config/ja_config.yml
  jb_vocab: ./config/jb_config.yml
  hla_vocab: ./config/hla_config.yml
  peptide_vocab: *alphabet

dataloader:
  batch_size: 48
  shuffle: True
  num_workers: 1

optimizer:
  lr: 0.003
  weight_decay: 0.0001

scheduler:
  step_size: 10
  gamma: 0.5

# logging settings
logger:
    version: 1
    disable_existing_loggers: false
    formatters:
        simple:
            format: '%(message)s'
        datetime:
            format: '%(asctime)s - %(levelname)s - %(message)s'
    handlers:
        console:
            class: logging.StreamHandler
            level: DEBUG
            formatter: simple
            stream: ext://sys.stdout
        info_file_handler:
            class: logging.handlers.RotatingFileHandler
            level: INFO
            formatter: datetime
            filename: info.log
            maxBytes: 10485760
            backupCount: 20
            encoding: utf8
    root:
        level: DEBUG
        handlers:
        - console
        - info_file_handler

